*~
*#
build
autom4te.cache
configure
Makefile
config.log
config.status
.ipynb_checkpoints
*.pyc
include/gemmini_params.h
*.yaml
*.bin
*.o
*.d
bareMetalC/*-baremetal
bareMetalC/*-linux
bareMetalC/*-pk
pipeline-runtime/pipeline_runtime
pipeline-runtime/*.log
pipeline-runtime/debug_records/artifacts/
rerocc-linux-tests/*-linux
rerocc-linux-tests/.pipeline_runtime_objs/
rerocc-linux-tests/workload/overlay/root/rerocc-linux-tests/*-linux
rerocc-linux-tests/workload/overlay/root/rerocc-linux-tests/pipeline-runtime/*-linux
rerocc-linux-tests-coupleddma/*-linux
rerocc-linux-tests-coupleddma/.pipeline_runtime_objs/
rerocc-linux-tests-coupleddma/workload/overlay/root/rerocc-linux-tests-coupleddma/*-linux
rerocc-linux-tests-coupleddma/workload/overlay/root/rerocc-linux-tests/pipeline-runtime/*-linux
